<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="navbarrestyle.css">
    
  </head>
  <body>
    <div class='body'>
        <div class='domisep'>
            <img src='Domisep.png'>

        </div>
        <div class='nav'>
            <a class='home' href='#'>My Home</a>
            <a class='apart' href='#' >My appartments</a>
            <a class='contact' href='#'>Contact</a>
            <a class='us' href='#'>What about us?</a>

        </div>
        <div class='icon'>
            <a href='#'><img class='notif' src='notif.png'  ></a>
            <a href='#'><img class='user'  src='user.png'  ></a>
            <a href='#'><img class='log'   src='log.jpg'   ></a>

        </div>
        
    </div> 
    <div class='text'>
            <a class='profil' href='#'>Profile</a>
            <a class='loge' href='#'>Log out</a>
        </div>   
  </body>
</html>