
body {
    background: linear-gradient(130deg, rgb(83, 131, 219), rgb(215, 226, 247)) fixed no-repeat;
    font-family: Roboto, "Times New Roman", serif;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 100%; /* A modifier pour faire un système de grilles */
    padding: 20px;
    background-color: #fff;
    display: block;
    margin-bottom: 40px;
    background-color: rgba(215, 226, 247, 0.5);

}

.card-full {
    width: 100%;
}


.unique-card {
    width: 400px;
    display: block;
}


.alignBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    margin-top : 10%;
    margin-bottom : 3%;
    text-align: center;
}



/*
 * Polices
 */

h1, .titleLogin{
    color: #1966a8;
    text-align: center;
}

a, a:visited {
    color: #1980c2;
    text-decoration: none;

    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -o-transition: color 0.30s ease-in-out;
}
a:hover {
    color: #1966a8;
}
.hover:hover {
    opacity: 0.7;
}


/*
 * Formulaire
 */


input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    outline: none;

    -webkit-transition: box-shadow 0.30s ease-in-out;
    -moz-transition: box-shadow 0.30s ease-in-out;
    -ms-transition: box-shadow 0.30s ease-in-out;
    -o-transition: box-shadow 0.30s ease-in-out;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
    box-shadow: 0 0 5px #1980c2;
    border: 1px solid #1980c2;
}

label {
    color: #000;
    cursor: pointer;
}

.checkbox {
    margin-bottom: 20px;
}

.bouton {
    display: block;
    padding: 10px;
    background-color: #1980c2;
    border: 1px solid #1966a8 ;
    border-radius: 8%;
    color: #fff;
    cursor: pointer;

    -webkit-transition: background-color 0.30s ease-in-out;
    -moz-transition: background-color 0.30s ease-in-out;
    -ms-transition: background-color 0.30s ease-in-out;
    -o-transition: background-color 0.30s ease-in-out;
}
.boutonDelete{
    display: block;
    padding: 10px;
    background-color: #DC1114;
    border: 1px solid #C81113;
    border-radius: 8%;
    color: #fff;
    cursor: pointer;

    -webkit-transition: background-color 0.30s ease-in-out;
    -moz-transition: background-color 0.30s ease-in-out;
    -ms-transition: background-color 0.30s ease-in-out;
    -o-transition: background-color 0.30s ease-in-out;
}
.bouton:hover {
    background-color: #1966a8;
}
.boutonDelete:hover{
    background-color: #C81113;
}




/***
*  Navbar
*
*/


*{
    margin: 0;
}
body{
    width: 100%;
    color: rgb(34, 117, 194);
}
.block{
    background-color : rgba(25, 211, 255, 0);
}
.color{
    width: 100%;
    height: 10%;
}
.image{
    width: 40px;
    height: 40px;
}
.lien1{
    margin-right: 20%;
}
.lien2{
    margin-right: 12%;

}
.domisep img{
    width: 60px;
    height: 60px;
}
.domisep{
    margin-top: 1%;
    margin-left: 1%;
}
.body{
    display: flex;
}
.lien{
    margin-left: 4%;
    color : #1361cc;
}
.nav a:link{
    text-decoration: none;
}
a:hover{
    color: white;
}
.text{
    display: flex;
    font-size: 95%;
    margin-left: 89%;
    padding-bottom: 1%;
}
.nav{
    width: 100%;
    margin-top: 2%;
    margin-left: 25%;
    font-size: 130%;
}
.icon{
    display: flex;
    margin-top: 1%;
    margin-right: 7%;
}


/**
* footer
 */

footer{
    position : relative;
    border-top : 2px solid rgb(252, 251, 255);
    color : black;
    background-color : #5787d0;
    width : 100%;
    height: 100px;
    vertical-align: bottom;
}

.infoSite{
    display : flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    color : white;

}

a[class = "footerLinks"], a[class = "footerLinks"]:visited{
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -o-transition: color 0.30s ease-in-out;
}

a[class = "footerLinks"]:hover{
    color: #1966a8;
}