body {
    background-color: #1980c2;
    font-family: Roboto, "Times New Roman", serif;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 100%; /* A modifier pour faire un système de grilles */
    padding: 20px;
    background-color: #fff;
    display: block;
    margin-bottom: 40px;

}

.card-full {
    width: 100%;
}
.card-half {

}

.unique-card {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 40px;
    display: block;
}

/*
 * Polices
 */

h1 {
    color: #1966a8;
    text-align: center;
}

a, a:visited {
    color: #1980c2;
    text-decoration: none;

    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -o-transition: color 0.30s ease-in-out;
}
a:hover {
    text-decoration: underline;
    color: #1966a8;
}


/*
 * Formulaire
 */


input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    outline: none;

    -webkit-transition: box-shadow 0.30s ease-in-out;
    -moz-transition: box-shadow 0.30s ease-in-out;
    -ms-transition: box-shadow 0.30s ease-in-out;
    -o-transition: box-shadow 0.30s ease-in-out;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
    box-shadow: 0 0 5px #1980c2;
    border: 1px solid #1980c2;
}

label {
    color: #000;
    cursor: pointer;
}

.checkbox {
    margin-bottom: 20px;
}

.bouton {
    display: block;
    padding: 10px;
    background-color: #1980c2;
    border: none;
    color: #fff;
    cursor: pointer;

    -webkit-transition: background-color 0.30s ease-in-out;
    -moz-transition: background-color 0.30s ease-in-out;
    -ms-transition: background-color 0.30s ease-in-out;
    -o-transition: background-color 0.30s ease-in-out;
}
.bouton:hover {
    background-color: #1966a8;
}