
body {
    width: 100%;
    background: linear-gradient(130deg, rgb(83, 131, 219), rgb(215, 226, 247)) fixed no-repeat;
    font-family: Roboto, "Times New Roman", serif;
    margin: 0;
}

#wrapper {
    min-height: 100%;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.align-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.3);

}

.card:only-child {
    margin-top: 50px;
}


.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.center{
    text-align: center;
}



/*
 * Polices
 */

h1 {
    color: #1966a8;
    text-align: center;
}

a, a:visited {
    color: #1980c2;
    text-decoration: none;

    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -o-transition: color 0.30s ease-in-out;
}
a:hover {
    color: #1966a8;
}
.hover:hover {
    opacity: 0.7;
}


/*
 * Formulaire
 */


input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], textarea {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    outline: none;

    -webkit-transition: box-shadow 0.30s ease-in-out;
    -moz-transition: box-shadow 0.30s ease-in-out;
    -ms-transition: box-shadow 0.30s ease-in-out;
    -o-transition: box-shadow 0.30s ease-in-out;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus {
    box-shadow: 0 0 5px #1980c2;
    border: 1px solid #1980c2;
}

textarea {
    resize: none;
}

label {
    color: #000;
    cursor: pointer;
}

.checkbox {
    margin-bottom: 20px;
}

.bouton, a.bouton, a.bouton:visited {
    font: 400 11px Roboto;
    display: inline-block;
    padding: 10px;
    background-color: #1980c2;
    border: 1px solid #1966a8 ;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    -webkit-transition: background-color 0.30s ease-in-out;
    -moz-transition: background-color 0.30s ease-in-out;
    -ms-transition: background-color 0.30s ease-in-out;
    -o-transition: background-color 0.30s ease-in-out;
}
.bouton-delete{
    background-color: #DC1114;
    border: 1px solid #C81113;
}
.bouton:hover, a.bouton:hover {
    background-color: #1966a8;
}
.bouton-delete:hover{
    background-color: #C81113;
}
.espace{
    display: inline-block;
    width: 100px;
    margin-bottom: 0.5%;
}
.espace1{
    display: inline-block;
    width: 200px;
    margin-bottom: 0.5%;
}




/***
*  Navbar
*
*/

.navbar{
    background-color : rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    padding: 10px 0;
    margin: 0;
    align-items: center;
}

#navbar-logo {
    height: 100%;
    width: auto;
}


#navbar-icons > .navbar-lien {
    display: inline-block;
    width: 42px;
    height: 42px;
}
#navbar-icons > .navbar-lien > a > img {
    width: 100%;
    height: auto;
}


/**
* footer
 */

footer{
    border-top : 2px solid rgb(252, 251, 255);
    color : black;
    background-color : #5787d0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    vertical-align: bottom;
}

.infoSite{
    display : flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    color : white;

}

a[class = "footerLinks"], a[class = "footerLinks"]:visited{
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -o-transition: color 0.30s ease-in-out;
}

a[class = "footerLinks"]:hover{
    color: #1966a8;
}


/* PAGE LOGIN */
.narrow-container {
    width: 400px;
}

#login-logo {
    margin-bottom: 10px;
}


/* PAGE RESGISTER */

#register-logo {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* PAGE MY HOMES */

.homes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card.home {

    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home > .map {
    margin-right: 20px;
}
.home .home-description {
}
.home > .home-description > .home-buttons {
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .card.home {
        flex-direction: column;
    }

    .home > .map {
        margin-bottom: 10px;
    }
}



/* PAGE HOME */

.home-container {

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}




#card-capteurs,#card-rooms{
    width: 350px;
    height: 700px;
}

#card-notif{
    width: 350px;
    height: 250px;
}

#card-ordre{
    align-self: flex-end;
    align-content: flex-end;
    width: 350px;
    height: 410px;

}


.pieces{
    margin-top: 10px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    height: 530px;
    overflow: auto;

}


#contenuOrdre{
    border: solid 1px rgba(0, 0, 0, 0.13);
    height: 250px;
    overflow: auto;
}


/* NOTIFICATIONS */

.linkSubject{
    cursor: pointer;
    color : #2f6aed;
    text-decoration: none;
    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -o-transition: color 0.30s ease-in-out;
}

td[class='linkSubject']:hover{
    color: white;
}

#listNotif{
    overflow: auto;
    height: 300px;
    border: solid 1px rgba(0, 0, 0, 0.12);

}

